DATABASE_URL="postgresql://postgres.[project-ref]:[PASSWORD]@[HOST]:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[project-ref]:[PASSWORD]@[HOST]:5432/postgres"
JWT_SECRET="change-me"
RAZORPAY_KEY_ID="rzp_test_xxx"
RAZORPAY_KEY_SECRET="xxx"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
